:root {
    --white: #fff;
    --text: #ecb6ac;
    --pale: #c4c4c4;
    --melon: #ecb6ac;
}

* {
   margin: 0;
}


body {
    background-color: #c4c4c4;
}

#header-img {
    width: 100px;
    object-fit: contain;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    width: 100%;
    top: 0;
    background-color: #1b1b81;
    padding: 10px
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #aed6ea;
    padding: 0 20px;
    font-size: 150%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.the-products {
    font-size: 40px;
    margin-left: 25px;
    font-weight: 800;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ecb6ac;
}

p {
    font-size: 125%
    ;
}

#email-section {
    margin-top: 200px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ecb6ac;
}

#submit {
    background-color: #c6e0ff;
    cursor: pointer;
}

section::before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}

section {
    margin: 40px 20px;
    text-align: center;
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
}

.icon {
    background-color: #cfc380;
    margin-right: 30px;
}

#features {
    text-align: left;
    max-width: 800px;
    margin: auto;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#video {
    width: 50%;
    border: 0;

}

h2 {
    font-size: 50px;
    text-align: center;
}

.service-image {
    width: 75%;
    margin: auto;
    height: 500px;
    border: 2px solid #ecb6ac;
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.service1 {
    background-image: url("https://3.imimg.com/data3/LQ/RR/MY-14859972/technical-documentation-services-500x500.png")
}

.service2 {
    background-image: url("https://www.is-t.net/blog/wp-content/uploads/2020/01/24x7-help-desk-houston-1.jpg")
}

.service3 {
    background-image: url("http://cmbnetworks.net/layout/images/windowsServerAdministration.jpg")
}

.card {
    background-color: #cfc3a0;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.inner-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.content {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.service-tier {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 5px;
    color: black;
    text-transform: uppercase;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.add {
    background-color: #aed6ea;
    cursor: pointer;
    padding: 15px;
    border: #cec3fc;
    border-radius: 10px;
    width: 100%;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 5px;
}

/* This is the footer formatting */

footer a {
    color: #1d1d81;
    padding-bottom: 40px;
    font-size: 25px;
}
address {
color:#1d1d81;
font-size: 25px;
}

@media only screen and (min-width: 600px) {
    #nav-bar {
        flex-direction: row;
    }
}

@media only screen and (450px < width < 600px) {
    .card {
        font-size: 0.85rem;
    }
    .service-image {
        height: 400px;
    }
}

@media only screen and (450px <= width) {
    .card {
        display: flex;
        max-width: 525px;
}
    .inner-card {
        width: 300px;
        padding: 20px;
    }
    
    .service-image {
        width: 400px;
    }
}